<center><h1>INSTRUCCIONES PARA LA REALIZACIÓN DE LA PRUEBA</h1></center>

<h2><p>Descripción de la prueba:</p></h2>
<p>Esta prueba tiene como objetivo analizar las aptitudes en los framework Django y Angular de los aspirantes al cargo.</p>

<h2><p>Descripción del proyecto:</p></h2>
<p>Este proyecto permite la creación y visualización de Pokemón y opcionalmente su edición y eliminación.</p>

<h2><p>Criterios de evaluación:</p></h2>
<ol>
	<li>El buen uso de la herramienta GIT.</li>
	<li>La organización del código.</li>
	<li>La sintaxis utilizada para escribir el código en cada lenguaje.</li>
	<li>El uso correcto de las herramientas.</li>
</ol>

<h3>REQUERIMIENTOS MÍNIMOS:</h3>
<ol>
	<li>Tareas Backend</li>
	<ul>
		<li>Se debe crear un WebService que permita crear un Pokemón.</li>
		<li>Se debe crear un WebService que retorne la lista de los Pokemón almacenados en base de datos.</li>
		<li>cada uno de los WebServices deberá tener sus respectivos tests que comprueben su correcto funcionamiento.</li>
	</ul>

	<li>Tareas Frontend</li>
	<ul>
		<li>Se debe crear una View que permita la creación de un Pokemón consumiendo el WebService respectivo.</li>
		<li>Se debe crear una View que permita listar los Pokemón consumiendo el WebService respectivo.</li>
	</ul>
</ol>

<h3>TAREAS OPCIONALES:</h3>
<ol>
	<li>Tareas Backend</li>
	<ul>
		<li>Se debe crear un WebService que permita modificar un Pokemón.</li>
		<li>Se debe crear un WebService que eliminar un Pokemón almacenado en base de datos.</li>
		<li>cada uno de los WebServices deberá tener sus respectivos tests que comprueben su correcto funcionamiento.</li>
	</ul>

	<li>Tareas Frontend</li>
	<ul>
		<li>Se debe crear una View que permita la edición de un Pokemón consumiendo el WebService respectivo.</li>
		<li>Se debe crear una View que permita la eliminación de un Pokemón consumiendo el WebService respectivo.</li>
	</ul>
</ol>